name: Build and Push Docker Image

on:
  pull_request:
  push:
    branches: [ main ] 
  release:
    types:
      - created

jobs:
  build:
    permissions: write-all
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@main
    with:
      image-name: circumai/hagstofan-datathon
